body{
	background-image:url(http://pic1.5442.com/2015/0703/02/02.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
h1,h2,h3{
	color:white;
}
div{
	text-align:center;
}
#div1{
	margin-top:3%;
}
#div2{
	margin-top:1%;
}
#div3{
	margin-top:2%;
	height:75px;
}
#div4{
	width:100px;
	height:100px;
	margin-left:47%;
	border-radius:50%;
	border:3px solid white;
	background-image:url(../images/头像.jpg);
	background-position:40% 15%;
}
input{
	width:330px;
	height:40px;
	border-radius:25px;
	padding:1px 50px;
}
#input1{
	color:white;
	background-image:url(../images/e-mail.png);
	background-position:5% 50%;
	background-repeat:no-repeat;
	background-color:black;
	padding:1px 50px;
}
#input2{
	background-image:url(../images/password.png);
	background-position:5% 50%;
	background-repeat:no-repeat;
	background-color:#F0FFFF;
	padding:1px 50px;
}
#input3{
	width:430px;
	height:40px;
	color:white;
	background-image:url(../images/send1.png);
	background-position:95% 50%;
	padding:2px 75px;
	background-repeat:no-repeat;
	background-color:pink;
}
#brand{
	width:30px;
	height:30px;
}
label,a{
	position:relative;
	bottom:10px;
	left:10px;
}
a{
	margin-left:100px;
}
ul{
	margin:2% 4%;
}
li{
	display:inline;
}