body{
	width:100%;
	margin:0 auto;
	font-size:85%;
}
div{
	float:left;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: #7ac143;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}
.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); 
}

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } 
}
p{
	font-size:1.2em;
	display:block;
}
#div{
	width:300px;
	margin:7% 0% 0% 10%;
	float:left;
	
}
#div0{
	width:350px;
    float:left;
	margin:7% 0% 0% 10%;	
}
#div00{
	width:350px;
    float:left;
	clear:left;
	margin:7% 0% 0% 10%;	
}
#div1{
	width:300px;
	height:300px;
	border:3px solid black;
	border-radius:5%;
	float:left;
	background-color:#2F4F4F;
	box-shadow:10px 10px 10px black;
}
#div2{
	width:290px;
	height:290px;
	border:2px solid white;
	border-radius:5%;
	float:left;
	margin:1%;
	background-color:#2F4F4F;
	text-align:center;
}
#div3{
	width:350px;
	height:600px;
	border:2px solid white;	
	border-radius:5%;
    float:left;
	box-shadow:10px 10px 10px black;
}
#div4{
	width:100%;
	height:300px;
	background-image:url(../images/picture1.jpg);
	background-size:100% 100%;	
	border-radius:5% 5% 0% 0%;
}
#div5{
	width:350px;
	height:560px;
	border:1px solid black;	
	border-radius:5%;
    float:left;
	background-image:url(../images/picture4.jpg); 
	background-size:140% 100%;
	background-position:50% 10%; 
	position:absolute;
	z-index:1;	
}
#div14:hover,#div16:hover{
	-webkit-opacity:0.55;
    -moz-opacity:0.55;
    -o-opacity:0.55;
    -ms-opacity:0.55;
	opacity:0.55;
}
#div6{
	width:250px;
	height:250px;
	border:2px solid white;	
	border-radius:5%;
    float:left;
    margin-top:5%;
	padding:2% 20px;
	background-color:#90EE90;
	box-shadow:10px 10px 10px black;
}
#div7{
	width:300px;
	height:560px;
	border:1px solid black;	
	border-radius:5%;
    float:left;
	background-image:url(../images/picture2.jpg); 
	background-position:10% 10%;
	position:absolute;
	z-index:1;	
}
#div8{
	width:350px;
	height:350px;
	border:2px solid white;
	border-radius:5%;
	float:left;
	margin-top:30%;
	background-color:#D1EEEE;
	box-shadow:10px 10px 10px black;	
}
#div9{
	width:350px;
	height:500px;
	border:2px solid white;	
	border-radius:5%;
    float:left;	
	box-shadow:10px 10px 10px black;
}
#div10{
	width:100%;
	height:250px;
	background-image:url(../images/picture3.jpg);
	background-size:100% 100%;	
	border-radius:5% 5% 0% 0%;	
}
#div11{
	width:293px;
	height:286px;
	border-radius:0% 0% 7% 7%;
	padding:2% 8%;
	background-color:#FCFCFC
}
#div12{
	width:293px;
	height:235px;
	border-radius:0% 0% 5% 5%;
	padding:2% 8%;
	background-color:#FCFCFC
}
#div13,#div14{
	width:352px;
	height:562px;
}
#div15{
	margin-top:7%;
}
#div15,#div16{
	width:302px;
	height:562px;
}
#div13,#div15{
	border-radius:5%;
    float:left;
	border:2px solid white;	
	box-shadow:10px 10px 10px black;
}
#div14,#div16{
	height:560px;
	border:2px solid white;	
	border-radius:5%;
    float:left;
	z-index:50;
	position:absolute;
	background-color:black;
	-webkit-opacity:0.1;
    -moz-opacity:0.1;
    -o-opacity:0.1;
    -ms-opacity:0.1;
	opacity:0.1;
}

.social-icons {
  padding:0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
  margin:0 5%;
}
.social-icons li a {
  background: #3366CC;
  border-radius: 50%;
  border:1px solid #CAE1FF;
  box-shadow:5px 5px 5px black;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease-in;
  position: relative;
  bottom: 10px;
  top: 10px;
}
.social-icons li a:hover {
  background: #202020;
  color: #fff;
}
#footer{
	width:100%;
	float:left;
	text-align:center;
	margin-top:1%;
	padding:2% 0% 2% 0%;
}
@media ( max-width: 3000px ) {
	#div13{
		float:left;
		margin:7% 0% 0% 10%;
	}
	#div9{
			margin:7% 0% 0% 10%;
	}
	body{
		background-image:url(http://pic1.win4000.com/wallpaper/2/5582582c1aa09.jpg);
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
	#body{
		width:100%;
		margin:0 auto;
	}
@media ( max-width: 1500px ) {
	#div13{
		float:left;
		clear:left;
		margin:7% 0% 0% 8%;
	}
		#div9{
			margin:7% 0% 0% 8%;
	}
	body{
		background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1494865372368&di=553b1682137e1c88230a07fbaeefa4e0&imgtype=0&src=http%3A%2F%2Fimg.taopic.com%2Fuploads%2Fallimg%2F110404%2F10023-110404034P737.jpg);
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-size:120% 100%;
	}
	#footer{
		margin-top:5%;
		padding:0 10%;
	}
	#body{
		width:100%;
		padding:0 10%;
	}
}