body {
	height:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#F0FFF0;
}
.div2{
	float:left;
	width:70%;
	margin:10% 15%;
	border:5px solid lightgreen;
	box-shadow:10px 10px 10px black;
	border-radius:10px 10px 10px 10px;
}
button{
	   width:12em;
	   height:6em;
	   font-size:0.55em;
	   color:white;
	   margin-top:5%;
	   margin-left:20%;
	   background-image:url(./picture/timg.jpg);
	   background-size:100% 100%;
	   box-shadow:10px 10px 10px gray;
	   border-radius:10px 10px 10px 10px;
	   cursor:pointer;
	   float:left;
}
h1,h2,h3,h4,h5{
	color:red;
}
img{
	margin-right:2%;
	border:5px solid rgba(255,255,255,1);
}

button:link,button:visited { 
    padding-left:0%; 
	display:block; 
	width:200px; 
	font-weight:bold; 
	color:#96CDCD;  
	text-decoration:none; 
	text-transform:uppercase; 
} 
button:hover{ 
	color: #ff7f24;
}
button:active{
	color:rgba(255,0,0,1);
} 
 
#footer{
	text-align:center;
}